.chambres {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 17px;
    font-family: 'Barlow', sans-serif;
        .chambres1, .chambres2, .chambres3{
            grid-column: span 2;
        }
        .chambres4, .chambres5{
            grid-column: span 3;
        }
}


.spa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    font-family: 'Barlow', sans-serif;
}