* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow', sans-serif;
}

body {
    height: 500vh;


    .nav-bar {
        background-color: #212121;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        z-index: 3000;
        color: aliceblue;
        padding-top: 60px;
        overflow-x: hidden;


        .nav-bar-title {
            display: flex;
            flex-direction: column;
            font-size: 10px;
            padding-bottom: 50px;
            text-align: center;
        }

        .nav-bar-menu {

            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 70px;
            font-family: 'Barlow', sans-serif;

            .activ {
                color: #8e6731;
            }

            span {
                color: gray;
                font-size: 14px;
                padding-left: 35px;
                transition: 0.6s ease;
            }

            span:hover {
                color: #977e5b;
                transform: scale(0.9) ease;
                text-shadow: 1px 1px 10px rgba(142, 103, 49, 0.2);
                font-size: 16px;

            }
        }

        .nav-bar-title {

            h1 {
                font-family: 'Gilda Display', serif;
                font-size: 27px;
                color: #8e6731;
                letter-spacing: 0.15em;
                font-weight: 100;
            }

            h2 {
                font-size: 11px;
                letter-spacing: 0.60em;
                margin-top: 4px;
                font-family: 'Barlow Condensed', sans-serif;
                color: rgb(255, 255, 255);

            }


            a {

                .nav-bar-star {
                    display: block;
                    color: #8e6731;
                    margin-bottom: 10px;
                    font-size: 9px;
                    letter-spacing: 0.25em;
                }
            }

        }

        .nav-bar-reservation {
            display: flex;
            gap: 10px;
            padding-left: 35px;
            font-family: 'Barlow', sans-serif;

            .nav-bar-number {
                #information-reservation {
                    font-size: 15px;
                    margin-bottom: 5px;
                    color: gray;
                }

                #num-tel {
                    color: #8e6731;
                    font-size: 24px;
                    font-family: 'Barlow Condensed', sans-serif;
                }
            }


            .nav-bar-phone {
                color: #8e6731;
                font-size: 34px;
                padding-top: 10px;
            }
        }
    }
}






body::-webkit-scrollbar {
    width: 10px;

}

body::-webkit-scrollbar-track {
    background-color: #00000040;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 15px;

}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(253, 202, 0);
}